<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="mybatis.properties"/>

    <typeAliases>
        <typeAlias alias="node" type="photon.model.Node"/>
        <typeAlias alias="point" type="photon.model.Point"/>
        <typeAlias alias="arrow" type="photon.model.Arrow"/>
        <typeAlias alias="framearrow" type="photon.model.FrameArrow"/>
        <typeAlias alias="owner" type="photon.model.Owner"/>
    </typeAliases>

    <environments default="dev">
        <environment id="prod">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${prod.driver}"/>
                <property name="url" value="${prod.url}"/>
                <property name="username" value="${prod.username}"/>
                <property name="password" value="${prod.password}"/>
            </dataSource>
        </environment>
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:tcp://localhost/~/test;mode=MySQL"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="xml/mybatis/mappers/ArrowMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/NodeMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/OwnerAndFrameMapper.xml"/>
    </mappers>
</configuration>