<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photon.mybatis.OwnerAndFrameMapper">

    <resultMap type="owner" id="ownerRM">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
    </resultMap>

    <insert id="addOwner" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tube.owner (nickname)
        VALUES (#{nickname})
    </insert>

    <insert id="addAlias">
        INSERT INTO tube.owner_auth (auth_id, owner_id)
        VALUES (#{authId}, #{ownerId})
    </insert>

    <select id="selectOwnerByAuthId" resultMap="ownerRM">
        SELECT
            nickname,
            id
        FROM tube.owner o LEFT JOIN tube.owner_auth oa
                ON oa.auth_id = #{authId}
        WHERE o.id = oa.owner_id
    </select>

    <delete id="deleteOwnerById">
        DELETE FROM tube.owner
        WHERE id = #{id}
    </delete>

    <delete id="deleteAlias">
        DELETE FROM tube.owner_auth
        WHERE auth_id = #{authId} AND owner_id = #{ownerId}
    </delete>

    <select id="selectAccess" resultType="int">
        SELECT access
        FROM tube.frame_access
        WHERE owner_id = #{ownerId} AND frame = #{frame}
    </select>

    <select id="selectFramesAccessibleTo" resultType="string">
        select frame
        from tube.frame_access
        where owner_id = #{ownerId} and access > #{access}
    </select>

</mapper>