body {
    font-family: "source-han-sans-simplified-c", sans-serif;
    font-style: normal;
    font-weight: 300;
}

h3 {
    font-weight: 100;
    color: sienna;
}

.footnote {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #999;
    font-weight: 100;
}