body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.upper-margin {
  margin-top: 0.5em;
}

@media (min-width: 1200px) {
  .container{
    max-width: 870px;
  }
}

.container-fluid {
  margin-left: 1em;
  margin-right: 1em;
}

a {
  color: #00B7FF;
}

.tube-nav {
  min-height: 50px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  background: white;
  display: block;
  z-index: 1030;
}

hr.nav-divider {
  margin:50px 0 0;
}