body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.upper-margin {
  margin-top: 0.5em;
}

@media (min-width: 1200px) {
  .container{
    max-width: 870px;
  }
}

a {
  color: #00B7FF;
}

.tube-nav {
  min-height: 50px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  background: white;
  display: block;
  z-index: 100;
}

#nav-divider-wrapper {
  position: relative;
}

hr.nav-divider {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  margin:50px 0 0;
  z-index: 10;
}

hr.nav-divider-cover {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  margin:50px 0 0;
  z-index: 11;
  border-color: white;
}