
#node-editor {
  border-radius: 8px;
  background-color: white;
  padding: 0.8em 1.5em 1.5em 1.5em;
  position: relative;
  z-index: 2;
}

.point-wrapper {
  position: relative;
  height: 7.9em;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
  padding: 0.7em;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  overflow: hidden;
}

.point-digest-text {
  position: relative;
  width: 100%;
  height: 4.5em;
  overflow: hidden;
}

.point-wrapper:hover, .point-wrapper:focus {
  border: 1px solid #adf;
  background-color: #f7fcff;
}

.point-wrapper-a {
  color: #000;
  cursor: pointer;
}

.point-wrapper-a:hover, .point-wrapper-a:focus {
  color: #000;
  text-decoration: none;
}

.graph-wrapper {
  position: absolute;
}

h4 {
  margin-top: 0;
}
