
#node-editor {
  border-radius: 8px;
  background-color: white;
  padding: 0.8em 1.5em 1.5em 1.5em;
  position: relative;
  z-index: 2;
}

.point-wrapper {
  position: relative;
  height: 10em;
  margin-top: 0.7em;
  padding: 0.7em;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.point-wrapper:hover, .point-wrapper:focus {
  border: 1px solid #888;
}

.point-wrapper-a {
  color: #000;
  cursor: pointer;
}

.point-wrapper-a:hover, .point-wrapper-a:focus {
  color: #000;
  text-decoration: none;
}

.graph-wrapper {
  position: absolute;
  z-index: -1;
}

h4 {
  margin-top: 0;
}
