<?xml version="1.0" encoding="UTF-8" ?>
<!-- TODO add randomCollection() -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photon.model.CatalogMapper">
  <resultMap type="Catalog" id="catalogRM">
    <id property="cid" column="cid" />
    <result property="country" column="country" />
    <result property="created" column="created" />
    <result property="date" column="date" />
  </resultMap>
    
  <select id="select" resultMap="catalogRM">
    select 
      cid ,
      country ,
      created ,
      date
    from photon.catalog where cid = #{cid}
  </select>
  
  <select id="selectMany" resultMap="catalogRM">
    select 
      cid ,
      country ,
      created ,
      date
    from photon.catalog where cid in (
      <foreach item="cid" index="index" collection="cids" separator="," >
        #{cid}
      </foreach>
    )
  </select>
   
  <insert id="insert" useGeneratedKeys="false" keyProperty="cid">
  	insert into photon.catalog (cid,country,created,date)
  	values (#{cid},#{country},#{created},#{date}) ignore
  </insert>
  
  <delete id="delete">
    delete from photon.catalog
    where cid = #{cid}
  </delete>
</mapper>