<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photon.data.persistence.ExtensionMapper">

  <resultMap type="extension" id="extResultMap">
    <id property="id" column="id" />
    <result property="code" column="code" />
  </resultMap>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
  	insert into photon.extension (id,code)
  	values (#{id},#{code}) on duplicate key update
      code = values(code)
  </insert>
    
  <select id="selectMany" resultMap="extResultMap">
    select 
      id ,
      code 
    from photon.extension where id in (
    <foreach item="id" index="index" collection="ids" separator="," >
      #{id}
    </foreach>
    )
  </select>
  
  <delete id="delete">
    delete from photon.extension
    where id = #{id}
  </delete>  
  
</mapper>