<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nest.data.persistence.NodeMapper">

  <resultMap type="point" id="pointRM">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="type" column="type" />
    <result property="state" column="state" />
    <result property="digest" column="digest" />
    <result property="timestamp" column="timestamp" />
  </resultMap>

  <resultMap type="node" id="nodeRM">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="type" column="type" />
    <result property="state" column="state" />
    <result property="digest" column="digest" />
    <result property="content" column="content" />
    <result property="timestamp" column="timestamp" />
  </resultMap>
    
  <select id="preselectOne" resultMap="pointRM">
    select 
      id ,
      name ,
      type ,
      state ,
      digest ,
      timestamp
    from nest.node where id = #{id}
  </select>
  
  <select id="preselectMany" resultMap="pointRM">
    select 
      id ,
      name ,
      type ,
      state ,
      digest ,
      timestamp 
    from nest.node where id in (
      <foreach item="id" index="index" collection="ids" separator="," >
        #{id}
      </foreach>
    )
  </select>
  
  <select id="selectOne" resultMap="nodeRM">
    select 
      id ,
      name ,
      type ,
      state ,
      digest ,
      content ,
      timestamp
    from nest.node where id = #{id}
  </select>
   
  <select id="preselectByState" resultMap="pointRM">
    select 
      id ,
      name ,
      type ,
      state ,
      digest ,
      timestamp
    from nest.node where state = #{state}
  </select>

  <select id="preselectMap" resultMap="pointRM">
    select
    id ,
    name ,
    type ,
    state ,
    digest ,
    timestamp
    from nest.node where id in (
    <foreach item="id" index="index" collection="ids" separator="," >
      #{id}
    </foreach>
    )
  </select>
   
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
  	insert into nest.node (id,name,type,digest,state,content,timestamp)
  	values (#{id},#{name},#{type},#{digest},#{state},#{content},#{timestamp}) on duplicate key update
      name = values(name) ,
      type = values(type) ,
      digest = values(digest) ,
      content = values(content) ,
      timestamp = values(timestamp)
  </insert>
  
  <update id="changeState">
    update nest.node set
      state = #{state}
    where id = #{id}
  </update>
  
  <delete id="delete">
    delete from nest.node
    where id = #{id}
  </delete>
  
</mapper>