doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset="utf-8")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=7knP3Oj3wA")
    link(rel="icon", type="image/png", href="/favicon-32x32.png?v=7knP3Oj3wA", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png?v=7knP3Oj3wA", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg?v=7knP3Oj3wA", color="#416ec4")
    link(rel="shortcut icon", href="/favicon.ico?v=7knP3Oj3wA")
    meta(name="msapplication-config", content="/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='https://unpkg.com/react@15.3.2/dist/react.min.js')
    script(src='https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js')
    script(src='https://unpkg.com/babel-core@5.8.38/browser.min.js')
    block head
  body
    block content
