extends layout

block head
  title= 'Artificy'
  link(rel='stylesheet', href='/css/quill.snow.css')

block content
  #context(style="display:none;", nickname= nickname)
  #root
  script(src='/js/tube.js')