extends layout

block head
  title= 'Artificy'
  script(src='/js/tinymce/tinymce.min.js')

block content
  #api(style="display:none;", server= server, nickname= nickname)
  #root
  script(src='/js/tube.js')