extends layout

block head
  title= 'Tube'
  link(rel='stylesheet', href='/css/tube.css')
  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(src='/js/bootstrap.min.js')
  script(src='/js/tinymce/tinymce.min.js')
  script(type='text/babel', src='/js/tube.js')

block content
  #api(style="display:none;", server= '#{server}')
  #root
