<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photon.tube.model.ArrowMapper">

    <resultMap type="arrow" id="arrowResultMap">
        <id property="id" column="id"/>
        <result property="origin" column="origin"/>
        <result property="target" column="target"/>
        <result property="active" column="active"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="selectOne" resultMap="arrowResultMap">
        SELECT *
        FROM tube.arrow
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tube.arrow (origin, target, type, active)
        VALUES (#{origin}, #{target}, #{type}, #{active})
    </insert>

    <select id="selectByOrigin" resultMap="arrowResultMap">
        SELECT *
        FROM tube.arrow
        WHERE origin = #{origin} AND active
    </select>

    <select id="selectBetween" resultMap="arrowResultMap">
        SELECT *
        FROM tube.arrow
        WHERE origin = #{origin} AND target = #{target} AND active
    </select>

    <select id="selectActive" resultMap="arrowResultMap">
        SELECT *
        FROM tube.arrow
        WHERE active
    </select>

    <select id="originIdSet" resultType="int">
        SELECT origin
        FROM tube.arrow
    </select>

    <select id="neighborIdSet" resultType="int">
        SELECT target
        FROM tube.arrow
        WHERE origin = #{origin} AND type = #{type} AND active
    </select>

    <delete id="delete">
        DELETE FROM tube.arrow
        WHERE id = #{id}
    </delete>

    <delete id="deleteSimilar">
        DELETE FROM tube.arrow
        WHERE origin = #{origin} AND target = #{target} AND type = #{type}
    </delete>

    <delete id="deleteByNode">
        DELETE FROM tube.arrow
        WHERE origin = #{id} OR target = #{id}
    </delete>

    <update id="deactivateByNode">
        UPDATE tube.arrow
        SET active = FALSE
        WHERE origin = #{id} OR target = #{id}
    </update>

    <!-- <update id="reactivateByNode">
         UPDATE tube.arrow a, tube.node n
         SET a.active = n.active
         WHERE (a.origin = #{id} AND a.target = n.id) OR
               (a.target = #{id} AND a.origin = n.id)
     </update>-->

    <update id="reactivateByNode">
        UPDATE tube.arrow a
        SET a.active = (SELECT n.active
                        FROM tube.node n
                        WHERE (a.origin = #{id} AND n.id = a.target) OR (a.target = #{id} AND n.id = a.origin))
        WHERE a.origin = #{id} OR a.target = #{id}
    </update>

</mapper>