<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="mybatis.properties"/>

    <typeAliases>
        <typeAlias alias="Catalog" type="photon.mfw.model.Catalog"/>
        <typeAlias alias="ViewLog" type="photon.mfw.model.ViewLog"/>
        <typeAlias alias="User" type="photon.mfw.model.User"/>
        <typeAlias alias="FavoriteLog" type="photon.mfw.model.FavoriteLog"/>
        <typeAlias alias="Node" type="photon.tube.model.Node"/>
        <typeAlias alias="Point" type="photon.tube.model.Point"/>
        <typeAlias alias="Arrow" type="photon.tube.model.Arrow"/>
        <typeAlias alias="Owner" type="photon.tube.model.Owner"/>
    </typeAliases>

    <environments default="dev">
        <environment id="prod">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${prod.driver}"/>
                <property name="url" value="${prod.url}"/>
                <property name="username" value="${prod.username}"/>
                <property name="password" value="${prod.password}"/>
            </dataSource>
        </environment>
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:tcp://localhost/~/test;mode=MySQL"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="xml/mybatis/mappers/mfw/CatalogMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/mfw/ViewLogMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/mfw/UserMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/mfw/FavoriteLogMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/tube/ArrowMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/tube/NodeMapper.xml"/>
        <mapper resource="xml/mybatis/mappers/tube/OwnerAndFrameMapper.xml"/>
    </mappers>
</configuration>